
.quicksand-primary {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.raleway-secondary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Shared Styles */

.flex{
  display: flex;
}

body{
  margin: 0 auto;
  max-width: calc(100% - 140px);
}

main {
  align-items: center;
}


.btn-primary{
  background-color: black;
  color: rgba(255, 255, 255, 1);
  padding: 10px 10px;
  border-radius: 12px;
  gap: 10px;
  width: 197px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}



/* Navbar styles */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-list{
  max-width: 387px;
  text-decoration: none;
  list-style: none;
  gap: 32px;
  font-size: 20px;
  margin-left: 186px;
}

.school-icon{
  align-items: center;
}

.school{
  font-size: 2rem;
  font-weight: 600;
  margin-left: 11px;
}

.icon{
  height: 62px;
  width: 62px;
}

.home-color{
  color: #FEA301;
}

.about-color{
  color: #01ACFD;
}

.facilities{
  color: rgba(5, 212, 223, 1);
}

.admission-color{
  color: rgba(93, 88, 239, 1);
}

.contact-btn{
  width: 197px;
  height: 50px;
  gap: 10px;
  border-radius: 12px;
  border: none;
  padding: 10px 10px;
  color: rgba(255, 255, 255, 1);
  background-color: #FEA301;
  font-size: 20px;
  font-weight: 500;
  margin-left: 186px;
}

/* Marquee Styles */

.marqueetext{
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
#Welcome{
  color: orange;
}
#a2kids{
  color: #01ACFD;
}


/* Hero Section Designs */

.hero{
  display: flex; 
  justify-content: space-between;
  margin: 0 auto;
  gap: 50px;
  margin-top: 20px;
}

.hero-content{
  max-width: 1158px;
}

.hero-title{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}

.hero-desc{
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 400;
}


#empower{
  color: orange;
}
#vision{
  color: #01ACFD;
}




/* Responsive Design */


@media screen and (max-width: 576px) {
  
  
}
