
.quicksand-primary {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.raleway-secondary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Shared Styles */

.flex{
  display: flex;
}

body{
  margin: 0 auto;
  max-width: calc(100% - 140px);
}

main {
  margin: 0 auto;
  align-items: center;
}


.primary-bg{
  background-image: url(..//assets/bg.png);
}

.btn-primary{
  background-color: black;
  color: rgba(255, 255, 255, 1);
  padding: 10px 10px;
  border-radius: 12px;
  gap: 10px;
  width: 197px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}



/* Navbar styles */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-list{
  max-width: 387px;
  text-decoration: none;
  list-style: none;
  gap: 32px;
  font-size: 20px;
  margin-left: 186px;
}

.school-icon{
  align-items: center;
}

.school{
  font-size: 2rem;
  font-weight: 600;
  margin-left: 11px;
}

.icon{
  height: 62px;
  width: 62px;
}

.home-color{
  color: #FEA301;
}

.about-color{
  color: #01ACFD;
}

.facilities{
  color: rgba(5, 212, 223, 1);
}

.admission-color{
  color: rgba(93, 88, 239, 1);
}

.contact-btn{
  width: 197px;
  height: 50px;
  gap: 10px;
  border-radius: 12px;
  border: none;
  padding: 10px 10px;
  color: rgba(255, 255, 255, 1);
  background-color: #FEA301;
  font-size: 20px;
  font-weight: 500;
  margin-left: 186px;
}

/* Marquee Styles */

.marqueetext{
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
#Welcome{
  color: orange;
}
#a2kids{
  color: #01ACFD;
}


/* Hero Section Designs */

.hero{
  display: flex; 
  justify-content: space-between;
  margin: 0 auto;
  gap: 50px;
  margin-top: 20px;
}

.hero-content{
  max-width: 1158px;
}

.hero-title{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}

.hero-desc{
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 400;
}

#empower{
  color: orange;
}
#vision{
  color: #01ACFD;
}


/* Main Styles */

/* Curriculum Section */

.standard-curriculum{
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.standard-title{
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 600;
}

.curriculums-container{
  display: flex;
  justify-content: center;
  gap: 38px;
  align-items: center;
}

.curriculum-title{
  font-size: 0.9rem;
  font-weight: 700;
}
.curriculum-desc{
  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 0;
}

.curriculum{
  padding: 46px;
  border-radius: 20px;
  text-align: center;
  max-width: 368px;
  max-height: 486px;
}

.cc-1{
  background-image: linear-gradient(180deg, #DEF5FF 0%, #FFFFFF 100%);

  box-shadow: 0px 0px 28px #d9e2e2;
}

.cc-2{
  background-image: linear-gradient(180deg, #FFF4DC 0%, #FFFFFF 100%);

  box-shadow: 0px 0px 28px #d9e2e2;
}

.cc-3{
  background-image: linear-gradient(180deg, #EEE1FF 0%, #FFFFFF 100%);

  box-shadow: 0px 10px 28px #d9e2e2;
}

.read{
  margin-top: 33px;
}

#read1{
  text-decoration: none;
  color: #64C8FF;
  font-size: 0.9rem;
  font-weight: 500;
}

#read2{
  text-decoration: none;
  color: #F0AA00;
  font-size: 0.9rem;
  font-weight: 500;
}

#read3{
  text-decoration: none;
  color: #8700FF;
  font-size: 0.9rem;
  font-weight: 500;
}



.arrow-btn{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 60px;
  gap: 10px;

}

.arrow-arrow{
    align-items: center;
    justify-content: center;
    background-color: #FEA301;
    font-weight: bold;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 1);
    padding: 16px 16px;
    border: none;
    border-radius: 50%;

}




/* Stories Section */

.stories{
  background-image: linear-gradient(0deg, #ffdc9f 0%, #FFFFFF 100%);
}

.stories-title{
  text-align: center;
  font-size: 2.9rem;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 80px;
}
.stories-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}

.square-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;

}

.cards-common{
  align-items: center;
  text-align: center;
  border-radius: 16px;
  background-color: royalblue;
}

.cards-common > img{
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}


/* Card Dates */

.toddler-card-btn{
  width: 174px;
  height: 47px;
  background-color: #3CD8E8;
  border-radius: 47px;
  border: none;
  text-align: center;
  color: #FFFFFF;
  margin-top: -60px;
  margin-left: -50px;
  font-size: 0.8rem;
}

















/* Responsive Design */


@media screen and (max-width: 576px) {
  
  
}
