/* Fonts */

.quicksand-primary {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.raleway-secondary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


/* Shared Styles */

.flex{
  display: flex;
}

.primary-bg{
  background-image: url(..//assets/bg.png);
}

.btn-primary{
  background-color: black;
  color: rgba(255, 255, 255, 1);
  padding: 10px 10px;
  border-radius: 12px;
  gap: 10px;
  width: 197px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

/* Header Styles */

/* Navbar related styles */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  text-decoration: none;
  list-style: none;
  gap: 32px;
  font-size: 20px;
  font-weight: 500;
}


.school-icon{
  align-items: center;
  gap: 11px;
}

.school{
  font-size: 1.8rem;
  font-weight: 600;
}

.home-color{
  color: #FEA301;
}

.about-color{
  color: #01ACFD;
}

.facilities{
  color: rgba(5, 212, 223, 1);
}

.admission-color{
  color: rgba(93, 88, 239, 1);
}

.contact-btn{
  width: 197px;
  height: 50px;
  gap: 10px;
  border-radius: 12px;
  border: none;
  padding: 10px 10px;
  color: rgba(255, 255, 255, 1);
  background-color: #FEA301;
  font-size: 20px;
  font-weight: 500;
}

/* Marquee Styles */

.marqueetext{
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#Welcome{
  color: orange;
}
#a2kids{
  color: #01ACFD;
}

.navbar, .hero{
    max-width: 1160px;
    margin: 0 auto;
}


/* Hero Section Designs */

.hero{
  display: flex; 
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
  gap: 50px;
}


.hero-title{
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1;
}

.hero-desc{
  margin-top: 0;
  font-size: 1rem;
  font-weight: 400;
}

.hero-content{
  margin-top: 20px;
  max-width: 640px;
}

#empower{
  color: orange;
}
#vision{
  color: #01ACFD;
}


/* Main Styles */

/* Curriculum Section */

.standard-title{
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 600;
}

.curriculums-container{
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.curriculum-title{
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 10px;
}
.curriculum-desc{
  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 0;
}

.curriculum{
  padding: 36px;
  border-radius: 20px;
  text-align: center;
  width: 290px;
  height: 306px;
}

#read1, #read2, #read3{
  margin-top: 10px;
}

.cc-1{
  background-image: linear-gradient(180deg, #cde5fa 0%, #FFFFFF 100%);

  box-shadow: 0px 0px 28px #d9e2e2;
}

.cc-2{
  background-image: linear-gradient(180deg, #faeccf 0%, #FFFFFF 100%);

  box-shadow: 0px 0px 28px #d9e2e2;
}

.cc-3{
  background-image: linear-gradient(180deg, #e4d3fa 0%, #FFFFFF 100%);

  box-shadow: 0px 10px 28px #d9e2e2;
}

.read{
  margin-top: 33px;
}

#read1{
  text-decoration: none;
  color: #64C8FF;
  font-size: 0.9rem;
  font-weight: 500;
}

#read2{
  text-decoration: none;
  color: #F0AA00;
  font-size: 0.9rem;
  font-weight: 500;
}

#read3{
  text-decoration: none;
  color: #8700FF;
  font-size: 0.9rem;
  font-weight: 500;
}


.arrow-btn{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 60px;
  gap: 10px;
}

.arrow-arrow{
    align-items: center;
    justify-content: center;
    background-color: #FEA301;
    font-weight: bold;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 1);
    padding: 16px 16px;
    border: none;
    border-radius: 50%;
}




/* Stories Section */

.stories{
  background-image: url('..//assets/bg.png'), linear-gradient(0deg, rgba(254, 161, 1, 0.466) 0%, rgba(250, 250, 250, 0.3) 100%);
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;
}

.stories-title{
  text-align: center;
  font-size: 2.9rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 80px;
}

.stories-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}


/* Square Cards */

.square-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.cards-common{
  width: 290px;
  height: 301px;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  background-color: white;
}

.cards-common > img{
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.toddler-card{
  align-items: center;
  text-align: center;
  border-radius: 16px;
  background-color: white;
  width: 540px;
  height: 620px;
}

.toddler-card > img{
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.toddler-card-title{
  margin: auto;
  padding: 20px;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 20px;
}

.toddler-card-desc{
  margin: auto;
  padding: 20px;
  line-height: 1.5;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 400;
}

.card-titles{
  padding: 20px;
  margin-top: 0px;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: left;
  margin-top: 15px;
}

/* Card Dates */

.image-and-date-1{
  position: relative;
}

.image-and-date-1 img{
  width: 100%;
  display: block;
  border-radius: 16px 16px 0 0;
}

.toddler-card-date{
  position: absolute;
  bottom: -18px;
  left: 32px;
  background: rgba(60, 216, 232, 1) ;
  color: white;
  font-size: 0.8rem;
  padding: 10px 14px;
  border-radius: 47px;
  border: none;
}

.card-img-date{
  position: relative;
}

.card-img-date img{
  width: 100%;
  display: block;
  border-radius: 16px 16px 0 0;
}

.card-dates{
  position: absolute;
  bottom: -18px;
  left: 32px;
  color: white;
  font-size: 0.8rem;
  padding: 10px 14px;
  border-radius: 47px;
  border: none;
}

#sqdate-1{
  background-color: rgba(254, 161, 1, 0.979);
}

#sqdate-2{
  background-color: rgba(255, 0, 128, 0.986);
}

#sqdate-3{
  background-color: rgba(93, 88, 239, 0.966);
}

#sqdate-4{
  background-color: rgba(60, 216, 232, 1);
}


/* Footer Styles */

footer{
  background-color: rgb(23, 180, 189);
  margin-bottom: 10px;
}

.footer-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 140px;
  gap: 30px;
  color: whitesmoke;

}

.footer-links-title{
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-links-list, li > a{
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: whitesmoke;
}

.footer-links-list > li{
  margin-bottom: 15px;
}

.img-title-desc{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
}

.img-title{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 300px;
  height: 81px;
}
.img-title > img{
  width: 80px;
  height: 80px;
} 

.footer-desc{
  font-size: 0.9rem;
  font-weight: 400;
}

.footer-contact{
  margin-bottom: 30px;
}


/* Mobile -- Menu Icon */


.menu-icon {
  display: none;
}

.menu-icon i {
  font-size: 26px;
  color: black;
  cursor: pointer;
}


/* Responsive Designs */

/* Mobile Responsive Design */

@media screen and (max-width: 576px) 
  {
    .menu-icon{
      display: block;
    }

    .nav-items, .contact-container, .school{
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar{
  border: 1px solid #FEA301;
  height: 90px;
  padding: 0 10px;
}

 
  .hero{
    flex-direction: column-reverse;
    text-align: center;
    gap: 15px;
  }
  
  .hero img{
    width: 100%;
  }

  .hero-title{
    font-size: 2rem;
  }

  .hero-desc{
    font-size: 0.9rem;
  }

  .curriculums-container{
    flex-direction: column;
    gap: 20px;
  } 

  .curriculum{
    width: 80%;
    height: auto;
  }

  .arrow-btn{
      display: none;
    }

    .stories-container{
      flex-direction: column;
      gap: 10px;
    }

    .toddler-card{
      display: none;
    }

    .square-cards{
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      gap: 10px;
    }

    .cards-common{     
      width: 100%;
      height: auto;
    }

    .footer-content{
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      padding: 20px 10px;
      gap: 30px;
      margin: 0 auto;
    }

    .footer-links-list{
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }

      .img-title{
        justify-content: center;
      }

    }

